.place__paragraph {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding: 0%;
}

@media screen and (max-width: 1130px) {
  .place__paragraph {
    margin: 0 0 27px;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
    max-width: 352px;
    font-weight: 400;
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .place__paragraph {
    padding: 0 16px 25px;
    margin: 0 auto;
  }
}
.place__paragraph:last-child {
  margin: 0;
  padding: 0 16px;
}